<md-dialog aria-label="{{ date }}"  ng-cloak>
    <form>
        <md-toolbar style="background-color: #444444;">
            <div class="md-toolbar-tools">
                <h2>{{ date }}</h2>
                <span flex></span>
                <md-button onclick="hideDialog()">
                    Close
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                {% for event in events %}
                    <div layout="row" layout-padding>
                        <a href="{{ url_prefix }}{{ event.objectId }}/{{ event.name|replace({' ': '-'})|lower|url_encode }}/">
                            <img src="{{ event.logoUrl }}" style="max-width: 50px; max-height: 50px;margin-right: 10px;"/>
                        </a>
                        <a href="{{ url_prefix }}{{ event.objectId }}/{{ event.name|replace({' ': '-'})|lower|url_encode }}/">
                            {% if event.startTime == '23:59:59' %}
                                {{ event.name }} - tbd
                            {% elseif event.startTime == '00:00:00' %}
                                {{ event.name }}
                            {% else %}
                                {{ event.name }} - {{ event.startTime }}
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </md-dialog-content>
    </form>
</md-dialog>